@model WebApplication1.Models.VendaInfo

@{
    ViewBag.Title = "AdicionarCarrinho";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <center>
        <p>
            <b>O produto foi adicionado ao seu Carrinho de Compras com sucesso!</b>
        </p>
        <p>    </p>
        <p>    </p>
    </center>

<table class="table">
    <tr>
        <th style="text-align:center; vertical-align:middle">
            Nome
        </th>
        <th style="text-align:center; vertical-align:middle">
            Quantidade
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.Preco) <b> (€)</b>
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.Imagem) <h6><b>(€)</b></h6>
        </th>


    </tr>

    <tr>
        <td style="text-align:center; vertical-align:middle; font-weight:bold">
            @{String nome = Model.NomeArtigo;
            Console.Write("olhonome:" + nome); }
            <a href="@Url.Action("Details", "Utilizador", new { idArtigo = Model.IdArtigo })"> @nome </a>
        </td>
        <td style="text-align:center; vertical-align:middle">
            @Html.DisplayFor(modelItem => Model.Quantidade)
        </td>
        <td style="text-align:center; vertical-align:middle">
            @Html.DisplayFor(modelItem => Model.Preco)
        </td>
        <td style="width:250px; height:250px; text-align:center; vertical-align:middle">
            <div class="w3-content w3-display-container">

                @{var fileName = @Model.Imagem;
                    String[] words = fileName.Split(" ");
                    String itempic = words[0];
                }
                <img class="card-img-top" src="~/uploads/@itempic" alt="" style="max-width:250px ; max-height:250px">

            </div>
        </td>
    </tr>

</table>

<p></p>
<p></p>
<button style=" margin:0 auto; display:block;">
@Html.ActionLink("Ver Carrinho", "VendaInfo", "Utilizador", new { idVenda = Model.IdVenda }, null)
</button>
<p></p>
<button style=" margin:0 auto; display:block;">
    @Html.ActionLink("Continuar a comprar", "Details", "Utilizador", new { idArtigo = Model.IdArtigo }, null)
</button>
