@model WebApplication1.Models.Utilizador


@{
    ViewBag.Title = "AlterarDadosUtilizador";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@if (!@User.Identity.IsAuthenticated)

    {
@Html.ValidationSummary(true)

<table class="table">
    <tr>
        <td>
            <Label> Tipo de informação </Label>
        </td>
        <td>
            Informação atual
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Email)
        </td>
        <td>
            Alteração Não Permitida
        </td>

    </tr>

    <tr>
        <td>
            Password
        </td>
        <td>
            *******
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraPass")
        </td>
    </tr>
    <tr>
        <td>
            Conta Bancária
        </td>
        <td>
            @Html.DisplayFor(Model => Model.ContaBancaria)
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraBank")
        </td>
    </tr>
    <tr>
        <td>
            Telemovel
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Telemovel)
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraTel")
        </td>
    </tr>
    <tr>
        <td>
            Código Postal
        </td>
        <td>
            @Html.DisplayFor(Model => Model.CodPostal )
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraCP")
        </td>
    </tr>
    <tr>
        <td>
            Freguesia
        </td>
        <td>
            Html.DisplayFor(Model2 => Model2.)
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraFreg")
        </td>
    </tr>
    <tr>
        <td>
            Rua
        </td>
        <td>
            @Html.DisplayFor(Model => Model.Rua)
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraRua")
        </td>
    </tr>
    <tr>
        <td>
            Número da porta
        </td>
        <td>
            @Html.DisplayFor(Model => Model.NPorta)
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraNPorta")
        </td>
    </tr>
    <tr>
        <td>
            Distrito
        </td>
        <td>
            Html.DisplayFor(Model => Model)
        </td>
        <td>
            @Html.ActionLink("Alterar", "alteraDistrito")
        </td>
    </tr>

</table>

 <!-- Button (Double) -->
<div class="form-group">
    <label class="col-md-4 control-label" for="save"></label>
    <div class="col-md-8">
        <button id="save" name="save" class="btn btn-default">Registar</button>
    </div>
</div>


    }