@model WebApplication1.Models.Artigo
@{
    ViewBag.Title = "Alterar categoria";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
     string str = (string)@ViewData["User_Name"];
}
<!DOCTYPE html>
<html>

<head>

    @section NotId {
        <li>
            <a href="@Url.Action("AluguerInfo", "Utilizador")">
                <span class="glyphicon glyphicon-bell "></span>
                Notificações
                @{
                    int n = (int)@ViewData["noti"];
                    if (n > 0)
                    {

                        <span class="badge" style="background-color: #138AB2">@n</span>
                    }
                }
            </a>
        </li>
    }
    <style>
        html * {
            font-family: Montserrat;
        }
    </style>

</head>
<body>
    <br />
    <br />
    <br />
    <center>
        <div style="color:#555555; font-size:16px; font-weight:bold;">
            <b>Alterar a categoria</b>
        </div>
    </center>
    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">


                @if (@User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("AlteraCategoria", "Utilizador", FormMethod.Post))
                    {

                        @Html.ValidationSummary(true)
                        <form>


                            <!-- Nome input-->
                            <div>
                                <label for="Categoria"><Escolha uma nova categoria:></label>
                                <select id="Categoria" name="Categoria" type="text" placeholder="" class="form-control input-md" required="" style="height:inherit">
                                    <option value="Roupa">Roupa</option>
                                    <option value="Campismo">Campismo</option>
                                    <option value="Mobiliário">Mobiliário</option>
                                    <option value="Acessórios">Acessórios</option>
                                    <option value="Música">Música</option>
                                    <option value="Livros">Livros</option>
                                    <option value="Turismo">Turismo</option>
                                    <option value="Bebé e criança">Bebé e criança</option>
                                    <option value="Lazer">Lazer</option>
                                    <option value="Animais">Animais</option>
                                    <option value="Tecnologia">Tecnologia</option>
                                    <option value="Desporto">Desporto</option>
                                    <option value="Carros, motos e barcos">Carros, motos e barcos</option>
                                    <option value="Agricultura">Agricultura</option>
                                    <option value="Equipamentos e Ferramentas">Equipamentos e Ferramentas</option>
                                    <option value="Outros">Outros</option>
                                </select>

                            </div>

                            <br />
                            <center>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="save"></label>
                                    <div class="col-md-8">
                                        <button id="save" name="save" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="background-color:#CCDBE2; border-color:#11709E; width: 100px; font-size:13px; color: #11709E; margin-left:-112px">Guardar</button>
                                    </div>
                                </div>
                            </center>


                        </form>
                    }
                }
                <br />
                <center>
                    <a href='@Url.Action("VerArtigos", "Utilizador")' class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="background-color:#CCDBE2; border-color:#11709E; display:inline-block; width: 100px; font-size:13px; color: #11709E">
                        Voltar
                    </a>
                </center>
                <br />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
</body>
</html>




