@model IEnumerable<WebApplication1.Models.AluguerInfo>

@{
    ViewBag.Title = "Respostas a aluguer";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <html>
    <head>
        @section NotId {
            <li>
                <a href="@Url.Action("AluguerInfo", "Utilizador")">
                    <span class="glyphicon glyphicon-bell "></span>
                    Notificações
                    @{
                        int n = (int)@ViewData["noti"];
                        if (n > 0)
                        {

                            <span class="badge" style="background-color: #138AB2">@n</span>
                        }
                    }
                </a>
            </li>
        }

        <style>
            html * {
                font-family: Montserrat;
            }
        </style>

    </head>
    <body>
        <br />
        <center>
            <div style="color:#555555; font-size:16px; font-weight:bold;">
                <b>Pedidos de aluguer</b>
            </div>
        </center>
        <br />
        <!--IF THEN ELSE PARA VER SE HÁ PEDIDOS DE ALUGUER-->
        @{ int count = 0;
            foreach (var item in Model)
            {
                count++;
            }
            if (count == 0)
            {
                <br />
                <center>
                    <div style="color:#555555; font-size:16px;">
                        <b>Não existem novos pedidos de aluguer.</b>
                    </div>
                </center>
            }
            else
            {
                <table class="table">
                    <tr>
                        <th style="text-align:center; vertical-align:middle">
                            Nome
                        </th>
                        <th style="text-align:center; vertical-align:middle">
                            Quantidade
                        </th>
                        <th style="text-align: center; vertical-align: middle; white-space:nowrap">
                            @Html.DisplayNameFor(model => model.Preco) (€)
                        </th>
                        <th style="text-align:center; vertical-align:middle">
                            Foto do artigo
                        </th>
                        <th style="text-align: center; vertical-align: middle; white-space:nowrap">
                            Data de Início
                        </th>
                        <th style="text-align: center; vertical-align: middle; white-space:nowrap">
                            Data de Fim
                        </th>
                        <th style="text-align: center; vertical-align: middle;">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th style="text-align: center; vertical-align: middle;">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th style="text-align: center; vertical-align: middle;">
                        </th>


                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center; vertical-align:middle; font-weight:bold">
                                <a href="@Url.Action("Details", new { idArtigo = item.IdArtigo })">@Html.DisplayFor(modelItem => item.NomeArtigo)</a>
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Preco)
                            </td>
                            <td style="        width: 250px;
        height: 250px;
        text-align: center;
        vertical-align: middle
">
                                <div class="w3-content w3-display-container">

                                    @{var fileName = @item.Imagem;
                                        String[] words = fileName.Split(" ");
                                        String itempic = words[0];
                                    }
                                    <img class="card-img-top" src="~/uploads/@itempic" alt="" style="max-width:250px ; max-height:250px">

                                </div>
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @{String dInicio = (item.DataInicio).ToString("dd/MM/yyyy");}
                                @dInicio
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @{String dFim = (item.DataFim).ToString("dd/MM/yyyy");}
                                @dFim
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td style="text-align:center; vertical-align:middle; width:150px ; font-weight: bold">
                                <a href='@Url.Action("Aceitar", "Utilizador", new { idAluguer = item.IdAluguer })'>Aceitar &#10004;</a>
                                <p></p>
                                <a href='@Url.Action("Recusar", "Utilizador", new { idAluguer = item.IdAluguer })'>Recusar &#10008;</a>
                            </td>
                        </tr>

                    }
                </table>

            }
        }

        <br />
        <center>
            <a href='@Url.Action("AluguerInfo", "Utilizador")' class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="background-color:#CCDBE2; border-color:#11709E; width: fit-content; font-size:13px; color:#11709E;">
                Voltar ao menu de alugueres
            </a>
        </center>
        <br />

    </body>
