@model WebApplication1.Models.AluguerInfo

@{
    ViewBag.Title = "AluguerPedido";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <head>
        @section NotId {
            <li>
                <a href="@Url.Action("AluguerInfo", "Utilizador")">
                    <span class="glyphicon glyphicon-bell "></span>
                    Notificações
                    @{
                        int n = (int)@ViewData["noti"];
                        if (n > 0)
                        {

                                        <span class="badge" style="background-color: #138AB2">@n</span>
                        }
                    }
                </a>
            </li>
        }
    </head>
<center>
    <p>
        <b>Foi enviado um pedido para alugar o artigo!</b>
    </p>
    <p>    </p>
    <p>    </p>
</center>

<table class="table">
    <tr>
        <th style="text-align:center; vertical-align:middle">
            Nome
        </th>
        <th style="text-align:center; vertical-align:middle">
            Quantidade
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.Preco) <b> (€)</b>
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th style="text-align: center; vertical-align: middle">
            Data de Início
        </th>
        <th style="text-align: center; vertical-align: middle">
            Data de Fim
        </th>


    </tr>
    <tr>
        <td style="text-align:center; vertical-align:middle">
            @{String nome = Model.NomeArtigo; }
            <a href="@Url.Action("Details", "Utilizador", new { idArtigo = Model.IdArtigo })"> @nome </a>
        </td>
        <td style="text-align:center; vertical-align:middle">
            @Html.DisplayFor(modelItem => Model.Quantidade)
        </td>
        <td style="text-align:center; vertical-align:middle">
            @Html.DisplayFor(modelItem => Model.Preco)
        </td>
        <td style="width:250px; height:250px; text-align:center; vertical-align:middle">
            <div class="w3-content w3-display-container">

                @{var fileName = @Model.Imagem;
                    String[] words = fileName.Split(" ");
                    String itempic = words[0];
                }
                <img class="card-img-top" src="~/uploads/@itempic" alt="" style="max-width:250px ; max-height:250px">

            </div>
        </td>
        <td style="text-align:center; vertical-align:middle">
            @Html.DisplayFor(modelItem => Model.DataInicio)
        </td>
        <td style="text-align:center; vertical-align:middle">
            @Html.DisplayFor(modelItem => Model.DataFim)
        </td>
    </tr>
</table>

<p></p>
<p></p>
<button style=" margin:0 auto; display:block;">
    @Html.ActionLink("Continuar a comprar", "Details", "Utilizador", new { idArtigo = Model.IdArtigo }, null)

</button>

        