@model WebApplication1.Models.Artigo
@{
    ViewBag.Title = "Ver Artigo";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    @section NotId {
        <li>
            <a href="@Url.Action("AluguerInfo", "Utilizador")">
                <span class="glyphicon glyphicon-bell "></span>
                Notificações
                @{
                    int n = (int)@ViewData["noti"];
                    if (n > 0)
                    {

                        <span class="badge" style="background-color: #138AB2">@n</span>
                    }
                }
            </a>
        </li>
    }

    <style>

        * {
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
        }

        body {
            background: #F4F2F3;
            display: flex;
            flex-direction: column;
        }

        label {
            cursor: pointer;
        }

        svg {
            width: 3rem;
            height: 3rem;
            padding: 0.15rem;
        }

        * {
            margin: 0;
            padding: 0;
        }

        .buttonStar {
            color: #168AFF;
        }

            .buttonStar:hover {
                color: #75BAFF;
                transform: rotate(-15deg) scale(1.2);
                outline: none;
            }

        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button2 {
            background-color: #008CBA;
        }
        /* Blue */


        /* This will make your float stick to the right-hand side */
        #divDen form {
            float: right;
        }
        /* This will clear any existing floating rules after this element */
        #divDen:after {
            clear: both;
        }

        .tryButton:hover{
            color: white;
        }
    </style>


</head>

<body>
    <!-- Page Content -->
    <div class="container">


        <div class="row">

            <div class="col-lg-12">


                <div class="card mt-4">
                    <!--<img class="card-img-top img-fluid" src="~/uploads/@Html.DisplayFor(modelItem => Model.Imagem)" alt="">-->
                    <div class="w3-content w3-display-container">
                        @{var fileName = Model.Imagem;
                            var idd = Model.IdArtigo;
                            string[] words = fileName.Split(" ");

                            int i = 1;

                            int count = words.Length();

                            Console.WriteLine(count);

                            foreach (string s in words)
                            {
                                <center>
                                    <img class="mySlides-@idd" src="~/uploads/@s" style="max-width:250px ; max-height:250px ; display: none" />
                                </center>
                                if (i == count)
                                {
                                    break;
                                }
                                i++;
                            }
                            string slides = "mySlides-" + idd;
                            var sl = slides;
                            string scr = "script-" + idd;
                            var scri = scr;

                            if (words.Length() > 1)
                            {
                    <center>
                        <button style="background:none ; font-weight:bold ; border:none ; font-size:20px; color:#1376D8 ; outline:none " onclick="plusDivs(-1)">&#10094;</button>
                        &nbsp;
                        <button style="background:none ; font-weight:bold ; border:none ; font-size:20px; color:#1376D8 ; outline:none " onclick="plusDivs(1)">&#10095;</button>
                    </center>
                            }

                            <script name="script-@idd" type="text/javascript">
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n,) {
                        showDivs(slideIndex += n);
                         }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("@sl");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            x[slideIndex - 1].style.display = "block";
                            }


                            </script>

                        }
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@Html.DisplayFor(modelItem => Model.Nome)</h3>
                        <h4>@Html.DisplayFor(modelItem => Model.Preco) €</h4>
                        <h5>@Html.DisplayFor(modelItem => Model.Modo)</h5>
                        @if (Model.Modo.Equals("aluguer"))
                        {

                            <form asp-action="Details" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">

                                <!-- <form action="/action_page.php"> -->
                                <div class="form-group">
                                    <input type="hidden" id="IdArtigo" name="IdArtigo" value="@Model.IdArtigo">
                                </div>
                                <div class="form-group">
                                    <label for="birthday">De:</label>
                                    <input type="date" id="inicio" name="inicio">
                                </div>
                                <div class="form-group">
                                    <label for="birthday">Até:</label>
                                    <input type="date" id="fim" name="fim">
                                </div>
                                <div class="form-group">
                                    <input class="btn border-primary btn-login btn-outline-primary" style="outline:none" type="submit" value="Verificar Disponibilidade">
                                </div>

                                <script>
                                    document.getElementById("file").multiple = true;
                                </script>

                            </form>

                            <div id="divDen">
                                <span class="card-text">@Html.DisplayFor(modelItem => Model.Descricao)</span>

                                <form asp-action="GoToDenuncias" asp-controllers="Utilizador" method="get" enctype="multipart/form-data" align="right">


                                    <div>
                                        <label for="IdArtigo"></label>
                                        <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                    </div>
                                    <div>
                                        <button type="submit" id="buttonDenuncias" class="btn border-primary btn-login btn-outline-primary tryButton" style="border:none">&#9888; Denunciar Artigo</button>
                                    </div>

                                </form>
                            </div>


                        }

                        @if (Model.Modo.Equals("venda"))
                        {
                    <div id="divDen">
                        <p class="card-text">@Html.DisplayFor(modelItem => Model.Descricao)</p>

                        <a href="@Url.Action("AdicionarCarrinho", new { idArtigo = Model.IdArtigo })"
                           class="btn border-primary btn-login btn-outline-primary tryButton" style="font-size:12px">Adicionar ao Carrinho <i class="fa fa-shopping-cart"></i></a>

                        <!-- Denuncias-->

                        <form asp-action="GoToDenuncias" asp-controllers="Utilizador" method="get" enctype="multipart/form-data" align="right">


                            <div>
                                <label for="IdArtigo"></label>
                                <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                            </div>
                            <div>
                                <button type="submit" id="buttonDenuncias" class="btn border-primary btn-login btn-outline-primary tryButton" style="border:none">&#9888; Denunciar Artigo</button>
                            </div>

                        </form>

                    </div>
                    }



                    </div>
                </div>

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Deixe uma avaliação ao produto
                    </div>
                    <!--STAR PONTUATION-->
                    <div class="card-body">
                        @{ if (0 <= Model.Pontuacao && Model.Pontuacao < 1)
                            {
                                <form asp-action="Stars" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="1">&#9734;</button>
                                    <button class="buttonStar" style=" background-color: Transparent; border: none; font-size: 30px" type="submit" name="pont" value="2">
                                        &#9734;
                                    </button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="3">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="4">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="5">&#9734;</button>
                                </form>
                            }
                            else if (1 <= Model.Pontuacao && Model.Pontuacao < 2)
                            {
                                <form asp-action="Stars" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="1">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border: none; font-size: 30px" type="submit" name="pont" value="2">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="3">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="4">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="5">&#9734;</button>
                                </form>
                            }
                            else if (2 <= Model.Pontuacao && Model.Pontuacao < 3)
                            {
                                <form asp-action="Stars" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="1">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border: none; font-size: 30px" type="submit" name="pont" value="2">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="3">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="4">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="5">&#9734;</button>
                                </form>
                            }
                            else if (3 <= Model.Pontuacao && Model.Pontuacao < 4)
                            {
                                <form asp-action="Stars" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="1">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border: none; font-size: 30px" type="submit" name="pont" value="2">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="3">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="4">&#9734;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="5">&#9734;</button>
                                </form>
                            }
                            else if (4 <= Model.Pontuacao && Model.Pontuacao < 5)
                            {
                                <form asp-action="Stars" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="1">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border: none; font-size: 30px" type="submit" name="pont" value="2">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="3">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="4">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="5">&#9734;</button>
                                </form>
                            }
                            else if (Model.Pontuacao == 5)
                            {
                                <form asp-action="Stars" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="1">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border: none; font-size: 30px" type="submit" name="pont" value="2">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="3">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="4">&#9733;</button>
                                    <button class="buttonStar" style="background-color: Transparent; border:none; font-size:30px" type="submit" name="pont" value="5">&#9733;</button>
                                </form>
                            }
                        }

                        <small><p>Pontuação atual: @Model.Pontuacao estrelas</p></small>

                        @{ if (Model.NumeroVotos == 0)
                            {
                                <small><i>(Ainda sem avaliações)</i></small>
                            } }

                    </div>
                </div>
                <!--.................-->
                <!--PRODUCT REVIEWS -->
                @{ if (Model.Comentarios.Count != 0)
                    {
                        <div class="card card-outline-secondary my-4">
                            <div class="card-header">
                                Comentários
                            </div>
                            <div class="card-body">
                                @foreach (var item in Model.Comentarios)
                                {
                                    <p>@Html.DisplayFor(itemModel => item.Descricao)</p>
                                    String dataCom = (item.Data).ToString("dd/MM/yyyy");
                                    <small class="text-muted">Postado por @Html.DisplayFor(itemModel => item.IdUtilizador) em @dataCom</small>
                                    <hr>
                                }
                            </div>
                        </div>
                    }
                }

                <form asp-action="AddComentario" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div>
                            <label for="Descricao"></label>
                            <div>
                                <input id="Descricao" name="Descricao" type="text" class="form-control" placeholder="Deixe o seu comentário" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="IdArtigo"></label>
                            <div>
                                <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                            </div>
                        </div>

                        <center>
                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Enviar comentário" class="btn border-primary btn-login btn-outline-primary tryButton" style="outline:none"/>
                                </div>
                            </div>
                        </center>

                    </div>
                </form>


            </div>



            <!-- /.col-lg-12 -->
        </div>

    </div>
<!-- /.container -->
</body>

</html>