@model WebApplication1.Models.Artigo
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <style>
        * {
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
        }

        body {
            background: #F4F2F3;
            display: flex;
            flex-direction: column;
        }

        label {
            cursor: pointer;
        }

        svg {
            width: 3rem;
            height: 3rem;
            padding: 0.15rem;
        }

        * {
            margin: 0;
            padding: 0;
        }

        .pont {
            float: left;
            height: 46px;
            padding: 0 10px;
        }

            .pont:not(:checked) > input {
                position: absolute;
                top: -9999px;
            }

            .pont:not(:checked) > label {
                float: right;
                width: 1em;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 30px;
                color: #ccc;
            }

            .pont:not(:checked) > label:before {
                content: '★ ';
            }

            .pont > input:checked ~ label {
                color: #ffc700;
            }

            .pont:not(:checked) > label:hover,
            .pont:not(:checked) > label:hover ~ label {
                color: #deb217;
            }

            .pont > input:checked + label:hover,
            .pont > input:checked + label:hover ~ label,
            .pont > input:checked ~ label:hover,
            .pont > input:checked ~ label:hover ~ label,
            .pont > label:hover ~ input:checked ~ label {
                color: #c59b08;
            }
    </style>


</head>

<body>
    <!-- Page Content -->
    <div class="container">


        <div class="row">

            <div class="col-lg-9">


                <div class="card mt-4">
                    <!--<img class="card-img-top img-fluid" src="~/uploads/@Html.DisplayFor(modelItem => Model.Imagem)" alt="">-->
                    <div class="w3-content w3-display-container">
                        @{var fileName = Model.Imagem;
                            var idd = Model.IdArtigo;
                            string[] words = fileName.Split(" ");

                            int i = 1;

                            int count = words.Length();

                            Console.WriteLine(count);

                            foreach (string s in words)
                            {
                                <center>
                                    <img class="mySlides-@idd" src="~/uploads/@s" style="max-width:250px ; max-height:250px ; display: none" />
                                </center>
                                if (i == count)
                                {
                                    break;
                                }
                                i++;
                            }
                            string slides = "mySlides-" + idd;
                            var cenas = slides;
                            string scr = "script-" + idd;
                            var scri = scr;

                            if (words.Length() > 1)
                            {
                                <center>
                                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                                </center>
                            }

                            <script name="script-@idd" type="text/javascript">
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n,) {
                        showDivs(slideIndex += n);
                         }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("@cenas");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            x[slideIndex - 1].style.display = "block";
                            }


                            </script>

                        }
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@Html.DisplayFor(modelItem => Model.Nome)</h3>
                        <h4>@Html.DisplayFor(modelItem => Model.Preco) €</h4>
                        <h5>@Html.DisplayFor(modelItem => Model.Modo)</h5>
                        @if (Model.Modo.Equals("aluguer"))
                        {

                            <form asp-action="Details" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">

                                <!-- <form action="/action_page.php"> -->
                                <div class="form-group">
                                    <label for="birthday">De:</label>
                                    <input type="date" id="inicio" name="inicio">
                                </div>
                                <div class="form-group">
                                    <label for="birthday">Até:</label>
                                    <input type="date" id="fim" name="fim">
                                </div>
                                <div class="form-group">
                                    <input class="btn border-success btn-login btn-outline-primary" type="submit" value="Verificar Disponibiliade">
                                </div>



                                <script>
                                    document.getElementById("file").multiple = true;
                                </script>

                            </form>


                        }
                        <p class="card-text">@Html.DisplayFor(modelItem => Model.Descricao)</p>
                        @{ if (0 <= Model.Pontuacao && Model.Pontuacao < 1)
                            {
                                <span class="text-warning">&#9734; &#9734; &#9734; &#9734; &#9734;</span>
                            }
                            else if (1 <= Model.Pontuacao && Model.Pontuacao < 2)
                            {
                                <span class="text-warning">&#9733; &#9734; &#9734; &#9734; &#9734;</span>
                            }
                            else if (2 <= Model.Pontuacao && Model.Pontuacao < 3)
                            {
                                <span class="text-warning">&#9733; &#9733; &#9734; &#9734; &#9734;</span>
                            }
                            else if (3 <= Model.Pontuacao && Model.Pontuacao < 4)
                            {
                                <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
                            }
                            else if (4 <= Model.Pontuacao && Model.Pontuacao < 5)
                            {
                                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                            }
                            else if (Model.Pontuacao == 5)
                            {
                                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            }
                        }
                        @Model.Pontuacao stars  

                        <br />
                        @if (Model.Modo.Equals("venda"))
                        {
                            <a href="@Url.Action("AdicionarCarrinho", new { idArtigo = Model.IdArtigo })"
                               class="btn border-success btn-login btn-outline-primary">Adicionar ao Carrinho</a>
                        }

                    </div>
                </div>

                <div class="card card-outline-secondary my-4">
                    <!--STAR PONTUATION-->
                    <div class="card-body">
                        <form asp-action="Stars" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                            <div class="pont">
                                <input type="radio" id="star5" name="pont" value="5"/>
                                <label for="star5" title="Five">5 stars</label>
                                <input type="radio" id="star4" name="pont" value="4" />
                                <label for="star4" title="Four">4 stars</label>
                                <input type="radio" id="star3" name="pont" value="3" />
                                <label for="star3" title="Three">3 stars</label>
                                <input type="radio" id="star2" name="pont" value="2" />
                                <label for="star2" title="Two">2 stars</label>
                                <input type="radio" id="star1" name="pont" value="1" />
                                <label for="star1" title="One">1 star</label>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="IdArtigo"></label>
                                <div>
                                    <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                                </div>
                            </div>
                            <input type="submit" value="Avalie o item" class="btn border-success btn-login btn-outline-primary">
                        </form>
                    </div>
                </div>
                <!--.................-->
                <!--PRODUCT REVIEWS -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.Comentarios)
                        {
                            <p>@Html.DisplayFor(itemModel => item.Descricao)</p>
                            <small class="text-muted">Posted by @Html.DisplayFor(itemModel => item.IdUtilizador)</small>
                            <hr>
                        }
                    </div>
                </div>

                <form asp-action="AddComentario" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div>
                            <label for="Descricao"></label>
                            <div>
                                <input id="Descricao" name="Descricao" type="text" class="form-control" placeholder="Deixe o seu comentário" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="IdArtigo"></label>
                            <div>
                                <input type="hidden" name="IdArtigo" value="@Model.IdArtigo" />
                            </div>
                        </div>

                        <center>
                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Post Review" class="btn border-success btn-login btn-outline-primary" />
                                </div>
                            </div>
                        </center>

                    </div>
                </form>


            </div>
<!-- /.col-lg-9 -->
        </div>

    </div>
<!-- /.container -->
</body>

</html>