@model WebApplication1.Models.Utilizador
@{
    ViewBag.Title = "AlterarDistrito";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <title>VerInfo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link rel="icon" href="~/icon.ico">

    @section NotId {
        <li>
            <a href="@Url.Action("AluguerInfo", "Utilizador")">
                <span class="glyphicon glyphicon-bell "></span>
                Notificações
                @{
                    int n = (int)@ViewData["noti"];
                    if (n > 0)
                    {

                        <span class="badge" style="background-color: #138AB2">@n</span>
                    }
                }
            </a>
        </li>
    }
</head>
<body>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">



                @if (@User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Distrito", "Utilizador", FormMethod.Post))
                    {

                        @Html.ValidationSummary(true)
                        <form>

                            <!-- Text input-->
                            <div>
                                <label for="Distrito">Insira novo Distrito</label>
                                <div>
                                    <input id="Distrito" name="Distrito" type="text" placeholder="" class="form-control input-md" required="">

                                </div>
                            </div>



                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="save"></label>
                                <div class="col-md-8">
                                    <button id="save" name="save" class="btn btn-default">Guardar</button>
                                </div>
                            </div>


                        </form>
                    }
                }
                <div>
                    @Html.ActionLink("Voltar", "VerInfo")
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
</body>
</html>
