@model IEnumerable<WebApplication1.Models.AluguerInfo>

@{
    ViewBag.Title = "Histórico de alugueres";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<head>
    @section NotId {
        <li>
            <a href="@Url.Action("AluguerInfo", "Utilizador")">
                <span class="glyphicon glyphicon-bell "></span>
                Notificações
                @{
                    int n = (int)@ViewData["noti"];
                    if (n > 0)
                    {

                        <span class="badge" style="background-color: #138AB2">@n</span>
                    }
                }
            </a>
        </li>
    }

    <style>
        html * {
            font-family: Montserrat;
        }
    </style>
</head>

<br />
<center>
    <div style="color:#555555; font-size:16px; font-weight:bold;">
        <b>Histórico de Alugueres</b>
    </div>
</center>
<br />

<table class="table">
    <tr>
        <th style="text-align: center; vertical-align: middle;">

        </th>
        <th style="text-align:center; vertical-align:middle">
            Nome
        </th>
        <th style="text-align:center; vertical-align:middle">
            Quantidade
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.Preco) <b> (€)</b>
        </th>
        <th style="text-align:center; vertical-align:middle">
            Foto do Artigo
        </th>
        <th style="text-align: center; vertical-align: middle;">
            Data de Início
        </th>
        <th style="text-align: center; vertical-align: middle;">
            Data de fim
        </th>
        <th style="text-align: center; vertical-align: middle;">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th style="text-align: center; vertical-align: middle;">
            Alugado por
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="color: rgb(17, 112, 158);  text-align:center; vertical-align:middle; font-weight:bold">
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.NomeArtigo)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td style="        width: 250px;
        height: 250px;
        text-align: center;
        vertical-align: middle
">
                <div class="w3-content w3-display-container">

                    @{var fileName = @item.Imagem;
                        String[] words = fileName.Split(" ");
                        String itempic = words[0];
                    }
                    <img class="card-img-top" src="~/uploads/@itempic" alt="" style="max-width:250px ; max-height:250px">

                </div>
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

        </tr>
    }
</table>

<p></p>
<p></p>
<p></p>