@model IEnumerable<WebApplication1.Models.Venda>

@{
    ViewBag.Title = "Venda";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<head>
    <head>
        @section NotId {
            <li>
                <a href="@Url.Action("AluguerInfo", "Utilizador")">
                    <span class="glyphicon glyphicon-bell "></span>
                    Notificações
                    @{
                        int n = (int)@ViewData["noti"];
                        if (n > 0)
                        {

                            <span class="badge">@n</span>
                        }
                    }
                </a>
            </li>
        }
    </head>
</head>

<!--IF THEN ELSE PARA SE O CARRINHO ESTIVER VAZIO-->
@{int count = 0; double totalPrice = 0; int index = 0; double precoCupao = 0;

    foreach (var item in Model)
    {
        count++;
    }
    if (count == 0)
    {
        <center>
            <b>O seu carrinho está vazio!</b>
            <p>  </p>
        </center>
        <button style=" margin:0 auto; display:block;">
            @Html.ActionLink("Continuar a comprar", "Index", "Utilizador")
        </button>
    }
    else
    {

        <table class="table">
            <tr>
                <th style="text-align:center; vertical-align:middle">
                    <!--@Html.DisplayNameFor(model => model.IdArtigoNavigation.Nome) <h6><b>de artigos</b></h6>-->
                    Nome
                </th>
                <th style="text-align:center; vertical-align:middle">
                    <!--@Html.DisplayNameFor(model => model.Quantidade) <h6><b>de artigos</b></h6>-->
                    Quantidade
                </th>
                <th style="text-align: center; vertical-align: middle">
                    @Html.DisplayNameFor(model => model.Preco) <b> (€)</b>
                </th>
                <th style="text-align:center; vertical-align:middle">
                    Imagens
                </th>
                <th style="text-align:center; vertical-align:middle">
                </th>


            </tr>
            @foreach (var item in Model)
            {
                totalPrice += item.Preco;
                <tr>
                    <td style="text-align:center; vertical-align:middle; font-weight:bold">
                        <a href="@Url.Action("Details", new { idArtigo = item.IdArtigo })">@Html.DisplayFor(modelItem => item.IdArtigoNavigation.Nome)</a>
                    </td>
                    <td style="text-align:center; vertical-align:middle">
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td style="text-align:center; vertical-align:middle">
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td style="width:250px; height:250px; text-align:center; vertical-align:middle">
                        <div class="w3-content w3-display-container">

                            @{var fileName = @item.IdArtigoNavigation.Imagem;
                                String[] words = fileName.Split(" ");
                                String itempic = words[0];
                            }
                            <img class="card-img-top" src="~/uploads/@itempic" alt="" style="max-width:250px ; max-height:250px">

                        </div>
                    </td>
                    <td style="text-align:center; vertical-align:middle">
                        @Html.ActionLink("Remover do Carrinho", "RemArtCarrinho", "Utilizador", new { idVenda = item.IdVenda }, null)
                    </td>

                </tr>
            }
        </table>

        precoCupao = totalPrice;
        <p></p>
        <p></p>


        <p style="text-align:center; font-weight:bold">
            Total de Compra:
            <td>
                @totalPrice €
            </td>
        </p>
        <p></p>
        <p></p>

        <div class="custom-select-lg" style="text-align:center;">
            <select>

                <option value="0">Selecione Cupão:</option>
                index++;
                @foreach (var item1 in Model.FirstOrDefault().IdUtilizadorNavigation.Voucher)
                {
                    <option value="index">@Html.DisplayFor(modelItem => item1.Codigo)</option>
                    index++;

                }
                @{
                    precoCupao = totalPrice - Model.FirstOrDefault().IdUtilizadorNavigation.Voucher.ElementAt<Voucher>(index-1).ValorOferta;
                }
            </select>
        </div>

        <p></p>
        <p></p>

        <p style="text-align:center; font-weight:bold">
            Total de Compra Com Cupão:
            <td>
                @precoCupao €
            </td>
        </p>

        <p></p>
        <p></p>

        <center>
            <button class="myButton">
                @Html.ActionLink("Finalizar Compra", "FinalizarCompra")
            </button>
        </center>

    }
}
