@model IEnumerable<WebApplication1.Models.Artigo>

@{
    ViewBag.Title = "Artigos";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <table class="table">
        <tr>
            <th style="                     text-align: center;
                     vertical-align: middle;
             ">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th style="text-align:center; vertical-align:middle">
                @Html.DisplayNameFor(model => model.Quantidade) <h6><b>de artigos</b></h6>
            </th>
            <th style="text-align:center; vertical-align:middle">
                @Html.DisplayNameFor(model => model.Modo)
            </th>
            <th style="text-align: center; vertical-align: middle">
                @Html.DisplayNameFor(model => model.Preco) <h6><b>(€)</b></h6>
            </th>
            <th style="text-align:center; vertical-align:middle">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th style="text-align:center; vertical-align:middle">
                Imagens
            </th>
            <th style="text-align:center; vertical-align:middle">
                Alterar artigo
            </th>



        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center; vertical-align:middle; font-weight:bold">
                    <a href="@Url.Action("Details", new { idArtigo = item.IdArtigo })">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
                <td style="text-align:center; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td style="text-align:center; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Modo)
                </td>
                <td style="text-align:center; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Preco) <b> (€)</b>
                </td>
                <td style="text-align:center; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td style="width:250px; height:250px; text-align:center; vertical-align:middle">
                    <div class="w3-content w3-display-container">

                        @{var fileName = @item.Imagem;
                            String[] words = fileName.Split(" ");
                            String itempic = words[0];
                        }
                        <img class="card-img-top" src="~/uploads/@itempic" alt="" style="max-width:250px ; max-height:250px">

                    </div>
                </td>
                <td style="text-align:center; vertical-align:middle">
                    @Html.ActionLink("Alterar" +
                   "", "Alterar", new { idArtigo = item.IdArtigo }, null)

                </td>
            </tr>
        }

    </table>

        <p></p>
        <p></p>
        <p></p>
        <center>
            <button class="myButton">
                @Html.ActionLink("Adicionar novo artigo", "NovoArtigo")
            </button>
        </center>
