@model IEnumerable<WebApplication1.Models.Artigo>

@{
    ViewBag.Title = "ARTIGOS";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdArtigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade) <h6><b>de artigos</b></h6>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco) <h6><b>(€)</b></h6>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.IdArtigo)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Alterar", new { idArtigo = item.IdArtigo }, null)

            </td>
        </tr>
    }

</table>

<p></p>
<p></p>
<p></p>
<center>
    <button>
        @Html.ActionLink("Adicionar novo artigox    ", "NovoArtigo")
    </button>
</center>
