<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentItAll - @ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link href="~/css/agency.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />

    <!--Pretty one :-->
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/agency.css" rel="stylesheet">
    <link rel="icon" href="~/icon.ico">

    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script language="javascript">
        // ===== Scroll to Top ==== 
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
    </script>

        <style>
            #return-to-top {
                position: fixed;
                bottom: 20px;
                right: 20px;
                background: #343A40;
                width: 50px;
                height: 50px;
                display: block;
                text-decoration: none;
                -webkit-border-radius: 35px;
                -moz-border-radius: 35px;
                border-radius: 35px;
                display: none;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

                #return-to-top i {
                    color: #fff;
                    margin: 0;
                    position: relative;
                    left: 16px;
                    top: 13px;
                    font-size: 19px;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                #return-to-top:hover {
                    background: rgba(0, 0, 0, 0.9);
                }

                    #return-to-top:hover i {
                        color: #fff;
                        top: 5px;
                    }
        </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- Sidebar -->
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                    body {
                        font-family: "Lato", sans-serif;
                    }

                    .sidebar {
                        height: 100%;
                        width: 0;
                        position: fixed;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        background-color: #343A40;
                        overflow-x: hidden;
                        transition: 0.5s;
                        padding-top: 60px;
                    }

                        .sidebar a {
                            padding: 8px 8px 8px 32px;
                            text-decoration: none;
                            font-size: 16px;
                            color: #818181;
                            display: block;
                            transition: 0.3s;
                        }

                            .sidebar a:hover {
                                color: #f1f1f1;
                            }

                        .sidebar .closebtn {
                            position: absolute;
                            top: 0;
                            right: 25px;
                            font-size: 16px;
                            margin-left: 50px;
                        }

                    .openbtn {
                        font-size: 16px;
                        cursor: pointer;
                        background-color: #343A40;
                        color: white;
                        padding: 5px 5px;
                        border: none;
                    }

                        .openbtn:hover {
                            background-color: #343A40;
                        }

                    #main {
                        transition: margin-left .5s;
                        padding: 16px;
                    }
                    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
                </style>
            </head>
            <body>

                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Roupa" })">
                        <span>Roupa</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Campismo" })">
                        <span>Campismo</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Mobiliário" })">
                        <span>Mobiliário</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Acessórios" })">
                        <span>Acessórios</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Música" })">
                        <span>Música</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Livros" })">
                        <span>Livros</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Turismo" })">
                        <span>Turismo</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Bebé e criança" })">
                        <span>Bebé e criança</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Lazer" })">
                        <span>Lazer</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Animais" })">
                        <span>Animais</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Tecnologia" })">
                        <span>Tecnologia</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Desporto" })">
                        <span>Desporto</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Carros, motos e barcos" })">
                        <span>Carros, motos e barcos</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Agricultura" })">
                        <span>Agricultura</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Equipamentos e Ferramentas" })">
                        <span>Equipamentos e Ferramentas</span>
                    </a>
                    <a href="@Url.Action("SearchCategoria", "Utilizador" , new { categoria="Outros" })">
                        <span>Outros</span>
                    </a>
                </div>



                <div id="main">
                    <button class="openbtn" style="margin-left: -300px" onclick="openNav()">☰ Categorias</button>
                </div>
                <

                <script>
                    function openNav() {
                        document.getElementById("mySidebar").style.width = "250px";
                        document.getElementById("main").style.marginLeft = "260px";
                    }
                    function closeNav() {
                        document.getElementById("mySidebar").style.width = "0";
                        document.getElementById("main").style.marginLeft = "0";
                    }
                </script>


            </body>

            <ul class="navbar-nav ml-lg-auto">
                <div>
                    <a class="nav-item" asp-area="" asp-controller="Utilizador" asp-action="Index">
                        <img src="~/Images/rentitalllogo.png" class="col-xl-6" alt="Responsive image">
                    </a>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Utilizador")">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("VerArtigos", "Utilizador")">
                        Os meus Produtos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Historico", "Utilizador")">
                        Historico
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Utilizador" asp-action="About">
                        Sobre nós
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Utilizador" asp-action="Contact">
                        Contacto
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Utilizador" asp-action="VendaInfo">
                        <i class="glyphicon glyphicon-shopping-cart "></i>
                        Carrinho
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Utilizador" asp-action="AluguerInfo">
                        <i class="glyphicon glyphicon-bell "></i>
                        Notificações
                    </a>
                </li>


                <li class="nav-item">
                    <!--Right side view perfil / login etc-->
                <li class="navbar-nav  mt-2 mt-lg-0">
                <li class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> Perfil
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="        margin-top: 7px;
                                  border-top-left-radius: 0;
                                  border-color: #343A40;
                                  border-top-right-radius: 0;
                                  background-color: #f1f1f1;" aria-labelledby="Preview">
                        <a class="dropdown-item" href="@Url.Action("VerInfo", "Utilizador")">Alterar os meus dados</a>
                        <a class="dropdown-item" href="@Url.Action("Perfil","Utilizador")">Perfil</a>
                        <a class="dropdown-item" href="@Url.Action("LogOut","Conta")">Logout</a>
                        <!--<a class="dropdown-item" href="#">Editar Perfil</a>-->
                    </div>
                </li>
                </li>
                </li>
            </ul>
        </div>


        <!--Search Bar-->
        <div class="search-container" style="margin-right">
            <form asp-action="SearchArtigos" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="Search" name="search">
                <button type="submit"><i class="glyphicon glyphicon-search" aria-hidden="true"> </i></button>
            </form>
        </div>
    </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <!-- Footer -->
    <footer class="footer">
        <div class="container">

            @RenderBody()
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright  @DateTime.Now.Year - RentItAll</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Politica de Privacidade
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Termos de Uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    @RenderSection("scripts", required: false)

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Contact form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/agency.min.js"></script>


</body>

</html>