<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentItAll - @ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link href="~/css/agency.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/agency.css" rel="stylesheet">
    <link rel="icon" href="~/icon.ico">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Images/rentitalllogo.png" class="col-xl-5" alt="Responsive image">
            </a>
            <!-- Sidebar -->
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                    body {
                        font-family: "Lato", sans-serif;
                    }

                    .sidebar {
                        height: 100%;
                        width: 0;
                        position: fixed;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        background-color: #343A40;
                        overflow-x: hidden;
                        transition: 0.5s;
                        padding-top: 60px;
                    }

                        .sidebar a {
                            padding: 8px 8px 8px 32px;
                            text-decoration: none;
                            font-size: 16px;
                            color: #818181;
                            display: block;
                            transition: 0.3s;
                        }

                            .sidebar a:hover {
                                color: #f1f1f1;
                            }

                        .sidebar .closebtn {
                            position: absolute;
                            top: 0;
                            right: 25px;
                            font-size: 16px;
                            margin-left: 50px;
                        }

                    .openbtn {
                        font-size: 16px;
                        cursor: pointer;
                        background-color: #343A40;
                        color: white;
                        padding: 5px 5px;
                        border: none;
                    }

                        .openbtn:hover {
                            background-color: #343A40;
                        }

                    #main {
                        transition: margin-left .5s;
                        padding: 16px;
                    }

                    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

                </style>
            </head>
            <body>

                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#">Roupa</a>
                    <a href="#">Campismo</a>
                    <a href="#">Mobiliário</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Música</a>
                    <a href="#">Livros</a>
                    <a href="#">Turismo</a>
                    <a href="#">Bebé e criança</a>
                    <a href="#">Lazer</a>
                    <a href="#">Animais</a>
                    <a href="#">Tecnologia</a>
                    <a href="#">Desporto</a>
                    <a href="#">Carros, motos e barcos</a>
                    <a href="#">Agricultura</a>
                    <a href="#">Equipamentos e Ferramentas</a>
                    <a href="#">Outros</a>
                </div>

                <div id="main">
                    <button class="openbtn" onclick="openNav()">☰ Categorias</button>
                </div>

                <script>
                    function openNav() {
                        document.getElementById("mySidebar").style.width = "250px";
                        document.getElementById("main").style.marginLeft = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidebar").style.width = "0";
                        document.getElementById("main").style.marginLeft = "0";
                    }
                </script>

            </body>


            <!--botõeszinhos-->
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <!--Search Bar-->

                <div class="search-container">
                    <form asp-action="SearchArtigos" asp-controllers="Home" method="POST" enctype="multipart/form-data">
                        <input type="text" placeholder="Search" name="search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"> </i></button>
                    </form>
                </div>



                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">
                            Sobre nós
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">
                            Contacto
                        </a>
                    </li>
                </ul>

                <!--Right side view perfil / login etc-->
                <ul class="navbar-nav  mt-2 mt-lg-0">
                    <li class="nav-item dropdown mr-auto">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> Perfil
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="        margin-top: 7px;
                            border-top-left-radius: 0;
                            border-color: #343A40;
                            border-top-right-radius: 0;
                            background-color: #343A40;" aria-labelledby="Preview">
                            <a class="dropdown-item" href="@Url.Action("Login", "Conta")">Login</a>
                            <a class="dropdown-item" href="@Url.Action("AdicionarCliente", "Utilizador")">Registar</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <div class="jumbotron">
        <!--Logo no topo da pagina-->
        <div id="hdr-top-logo">
            <h1>
                <a>
                    <img style="margin:10px auto;display:block" src="~/Images/rentitalllogo.png" />
                </a>
            </h1>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <footer class="footer">
        <div class="container">

            @RenderBody()
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright  @DateTime.Now.Year - RentItAll</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Politica de Privacidade
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Termos de Uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    @RenderSection("scripts", required: false)

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Contact form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/agency.min.js"></script>


</body>

</html>
