<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentItAll - @ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link href="~/css/agency.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />



    <style>
        .header-user-dropdown {
            background-color: #212529;
            padding: 23px 6px;
            height: 23px;
            color: #ffffff;
            box-sizing: border-box;
        }

            .header-user-dropdown .header-limiter {
                max-width: 1200px;
                text-align: center;
                margin: 0 auto;
            }

                /* Logo */

                .header-user-dropdown .header-limiter h1 {
                    float: left;
                    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
                    line-height: 40px;
                    margin: 0;
                }

                    .header-user-dropdown .header-limiter h1 span {
                        color: #bc40df;
                    }

                /* The header links */

                .header-user-dropdown .header-limiter a {
                    color: #ffffff;
                    text-decoration: none;
                }

                .header-user-dropdown .header-limiter nav {
                    font: 16px Arial, Helvetica, sans-serif;
                    line-height: 40px;
                    float: left;
                    margin: 0 0 0 60px;
                    padding: 0;
                }

                    .header-user-dropdown .header-limiter nav a {
                        font-size: 14px;
                        display: inline-block;
                        padding: 0 12px;
                        opacity: 0.9;
                        position: relative;
                        text-decoration: none;
                        line-height: 1;
                    }

                        .header-user-dropdown .header-limiter nav a:hover {
                            opacity: 1;
                        }

                        /* The "new" badge */

                        .header-user-dropdown .header-limiter nav a span {
                            position: absolute;
                            top: -12px;
                            border-radius: 2px;
                            background-color: #2A6A92;
                            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
                            height: 13px;
                            font-size: 11px;
                            right: -15px;
                            padding: 1px 4px 0;
                        }

                /* The user menu */

                .header-user-dropdown .header-limiter .header-user-menu {
                    position: relative;
                    float: right;
                    width: 72px;
                    padding-left: 19px;
                    padding-top: 5px;
                    background-color: #3a3c3e;
                    width: 75px;
                    height: 40px;
                    border-radius: 2px;
                }

                    .header-user-dropdown .header-limiter .header-user-menu:before {
                        content: '';
                        width: 0;
                        height: 0;
                        top: 18px;
                        left: 15px;
                        position: absolute;
                        border: 5px solid transparent;
                        border-top-color: #fff;
                    }

                    .header-user-dropdown .header-limiter .header-user-menu ul {
                        display: none;
                        font: bold 13px Arial, Helvetica, sans-serif;
                        background-color: inherit;
                        list-style: none;
                        position: absolute;
                        text-align: center;
                        width: 125px;
                        top: 70px;
                        right: 0px;
                        padding: 10px;
                        border-radius: 2px;
                        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                    }

            .header-user-dropdown .header-user-menu:active ul,
            .header-user-dropdown .header-user-menu:hover ul,
            .header-user-dropdown .header-user-menu.show ul {
                display: block;
            }

            .header-user-dropdown .header-user-menu ul li {
                padding: 5px;
            }

                .header-user-dropdown .header-user-menu ul li a:hover {
                    opacity: 0.9;
                }

                .header-user-dropdown .header-user-menu ul li a.highlight {
                    color: #40e4f4;
                }

            .header-user-dropdown .header-user-menu img {
                border-radius: 50%;
                position: absolute;
                top: 6px;
                max-width: 28px;
                right: 10px;
            }



        .header-two-bars {
            font: 13px Arial, Helvetica, sans-serif;
        }

            .header-two-bars .header-limiter {
                max-width: 1200px;
                text-align: center;
                margin: 0 auto;
            }

            /* Logo */

            .header-two-bars h1 {
                float: left;
                font: normal 28px Cookie, Arial, Helvetica, sans-serif;
                line-height: 40px;
                margin: 0;
            }

                .header-two-bars h1 span {
                    color: #bc40df;
                }

            /* The first bar */

            .header-two-bars .header-first-bar {
                background-color: #212529;
                box-shadow: 0 1px 1px #ccc;
                padding: 20px 40px;
                height: 80px;
                color: #ffffff;
                box-sizing: border-box;
            }

                .header-two-bars .header-first-bar a {
                    color: #ffffff;
                    text-decoration: none;
                }


                    .header-two-bars .header-first-bar a.logout-button {
                        font-size: 13px;
                        font-weight: bold;
                        float: right;
                        border-radius: 3px;
                        background-color: rgba(58, 60, 62, 0);
                        height: 40px;
                        padding: 0 20px;
                        border: 1px solid #5E6367;
                        line-height: 40px;
                        box-sizing: border-box;
                    }


            /* Second Bar */

            .header-two-bars .header-second-bar {
                background-color: #ffffff;
                box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.05);
                padding: 20px 40px;
            }

                .header-two-bars .header-second-bar h2 {
                    line-height: 20px;
                    margin: 0;
                    float: left;
                }

                    .header-two-bars .header-second-bar h2 a {
                        font-size: 16px;
                        color: #4e5359;
                        text-decoration: none;
                    }

                .header-two-bars .header-second-bar nav {
                    text-align: right;
                    line-height: 20px;
                    font-size: 16px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                    .header-two-bars .header-second-bar nav a {
                        display: inline-block;
                        color: #4e5359;
                        text-decoration: none;
                    }

                    .header-two-bars .header-second-bar nav i.fa {
                        color: #495057;
                        -7px 16px -16px 16px;
                    }

        }

        .header-login-signup {
            background-color: #292c2f;
            box-shadow: 0 1px 1px #ccc;
            padding: 20px 40px;
            height: 80px;
            color: #ffffff;
            box-sizing: border-box;
        }

            .header-login-signup .header-limiter {
                max-width: 1200px;
                text-align: center;
                margin: 0 auto;
            }



                .header-login-signup .header-limiter h1 span {
                    color: #5383d3;
                }

                /* The navigation links */

                .header-login-signup .header-limiter a {
                    color: #ffffff;
                    text-decoration: none;
                }

                .header-login-signup .header-limiter nav {
                    font: 16px Arial, Helvetica, sans-serif;
                    line-height: 35px;
                    float: left;
                    margin: 0 0 0 28px;
                    padding: 0;
                }

                    .header-login-signup .header-limiter nav a {
                        font-size: 14px;
                        display: inline-block;
                        padding: 0 5px;
                        opacity: 0.9;
                        text-decoration: none;
                        line-height: 1;
                    }

                        .header-login-signup .header-limiter nav a:hover {
                            opacity: 1;
                        }

                        .header-login-signup .header-limiter nav a.selected {
                            color: #608bd2;
                        }

                /* Login/Sign up buttons */

                .header-login-signup .header-limiter ul {
                    font: 14px Arial, Helvetica, sans-serif;
                    list-style: none;
                    margin-top: -28px;
                    line-height: 2;
                    float: right;
                }

                    .header-login-signup .header-limiter ul li {
                        display: inline-block;
                        margin-left: 15px;
                        opacity: 0.9;
                    }

                        .header-login-signup .header-limiter ul li:hover {
                            opacity: 1;
                        }

                        /* The sign up button */

                        .header-login-signup .header-limiter ul li:last-child a {
                            font-weight: bold;
                            background-color: #3a3c3e;
                            padding: 10px 15px;
                            border-radius: 3px;
                        }


        .header-fixed {
            background-color: #292c2f;
            box-shadow: 0 1px 1px #ccc;
            padding: 20px 40px;
            height: 80px;
            color: #ffffff;
            box-sizing: border-box;
            top: -100px;
            -webkit-transition: top 0.3s;
            transition: top 0.3s;
        }

            .header-fixed .header-limiter {
                max-width: 1200px;
                text-align: center;
                margin: 0 auto;
            }

        /*  The header placeholder. It is displayed when the header is fixed to the top of the
        browser window, in order to prevent the content of the page from jumping up. */

        .header-fixed-placeholder {
            height: 80px;
            display: none;
        }

        /* Logo */

        .header-fixed .header-limiter h1 {
            float: left;
            font: normal 28px Cookie, Arial, Helvetica, sans-serif;
            line-height: 40px;
            margin: 0;
        }

            .header-fixed .header-limiter h1 span {
                color: #5383d3;
            }

        /* The navigation links */

        .header-fixed .header-limiter a {
            color: #ffffff;
            text-decoration: none;
        }

        /* Fixed version of the header */

        body.fixed .header-fixed {
            padding: 10px 40px;
            height: 50px;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        body.fixed .header-fixed-placeholder {
            display: block;
        }

        body.fixed .header-fixed .header-limiter h1 {
            font-size: 24px;
            line-height: 30px;
        }
    </style>

    <style>
        .header-search {
            background-color: #292c2f;
            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
            padding: 20px 40px;
            height: 80px;
            color: #ffffff;
            box-sizing: border-box;
        }

            .header-search .header-limiter {
                max-width: 1218px;
                text-align: center;
                margin: 0 auto;
            }

                /* Logo */

                .header-search .header-limiter h1 {
                    float: left;
                    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
                    line-height: 40px;
                    margin: 0;
                }

                    .header-search .header-limiter h1 span {
                        color: #5383d3;
                    }

                /* The header links */

                .header-search .header-limiter a {
                    color: #ffffff;
                    margin-left: -5px;
                    text-decoration: none;
                }

                .header-search .header-limiter nav {
                    font: 16px Arial, Helvetica, sans-serif;
                    line-height: 40px;
                    float: left;
                    margin: -5px -4px -5px 3px;
                    padding: 0;
                }

                    .header-search .header-limiter nav a {
                        display: inline-block;
                        padding: 0 5px;
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: normal;
                        opacity: 0.9;
                    }

                        .header-search .header-limiter nav a:hover {
                            opacity: 1;
                        }

                        .header-search .header-limiter nav a.selected {
                            color: #608bd2;
                            pointer-events: none;
                            opacity: 1;
                        }

                /* The search box */

                .header-search .header-limiter form {
                    float: right;
                    position: relative;
                    right: 1px;
                    color: #212529;
                    top: 14px;
                    margin-left: 40px;
                    border-radius: 3px;
                    background-color: #3a3c3e;
                    width: 44px;
                    height: 39px;
                    cursor: pointer;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                }

                    /* CSS search icon */

                    .header-search .header-limiter form:before {
                        position: absolute;
                        content: '';
                        border-radius: 50%;
                        border: 2px solid #fff;
                        width: 9px;
                        height: 9px;
                        top: 12px;
                        left: 14px;
                    }

                    .header-search .header-limiter form:after {
                        position: absolute;
                        content: '';
                        background-color: #fff;
                        width: 2px;
                        height: 8px;
                        top: 22px;
                        left: 26px;
                        -webkit-transform: rotate(-44deg);
                        -moz-transform: rotate(-44deg);
                        transform: rotate(-44deg);
                    }

                    /* The search box */

                    .header-search .header-limiter form input {
                        display: none;
                        position: absolute;
                        right: 42px;
                        padding: 11px 12px 9px;
                        border: none;
                        width: 210px;
                        border-radius: 2px 0 0 2px;
                        height: 39px;
                        box-sizing: border-box;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }

        /*BOTOES DA SEGUNDA NAVBAR*/
        [data-tooltip]:before {
            /* needed - do not touch */
            content: attr(data-tooltip);
            position: absolute;
            opacity: 0;
            /* customizable */
            transition: all 0.15s ease;
            padding: 10px;
            color: #ffffff;
            border-radius: 10px;
            box-shadow: 2px 2px 1px silver;
        }

        [data-tooltip]:hover:before {
            /* needed - do not touch */
            opacity: 1;
            /* customizable */
            background: #138AB2;
            margin-top: -50px;
            margin-left: -50px;
        }

        [data-tooltip]:not([data-tooltip-persistent]):before {
            pointer-events: none;
        }
    </style>



    @section scripts{
        <script type="text/javascript">
            // <![CDATA[
            $(document).ready(function () {
                $('#calendar').fullCalendar({
                    theme: true,

                    defaultView: 'agendaDay',
                    editable: false,
                    events: "/Home/Details/"
                });
            });

            // ]]></script>
    }

    <!--Pretty one: -->
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

    <!--Bootstrap core CSS-->
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/agency.css" rel="stylesheet">
    <link rel="icon" href="~/icon.ico">

</head>

<body>

    <header class="header-two-bars">

        <div class="header-first-bar header-fixed header-login-signup header-search">
            <div class="header-limiter" asp-area="" asp-controller="Utilizador" asp-action="Index">
                <a asp-area="" asp-controller="Utilizador" asp-action="Index">
                    <img src="~/Images/rentitalllogo.png" class="col-md-2" style="margin-top: -12px;" alt="Responsive image">
                </a>

                <nav>
                    <a href="@Url.Action("Index", "Company")">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                    <a href="@Url.Action("About", "Company")">Sobre Nós</a>
                    <a href="@Url.Action("Contact", "Company")">Contacto</a>
                </nav>

                <ul>

                    <li>
                        <form asp-action="SearchArtigos" asp-controllers="Utilizador" method="POST" enctype="multipart/form-data">
                            <input type="text" placeholder="Search" name="search" class="input">
                        </form>
                    </li>

                    <li><a href="@Url.Action("Cat", "Company")">Ver Catálogo</a></li>
                    <li><a href="@Url.Action("Denuncias", "Company")">Ver Denúncias</a></li>
                    <li><a href="@Url.Action("Notifs", "Company")">Notificações</a></li>
                    @if (IsSectionDefined("NotId"))
                    {
                        @RenderSection("NotId")
                    }

                    <li class="header-user-dropdown">

                        <div class="header-limiter">
                            <div class="header-user-menu">

                                <i class="fa fa-user"></i>

                                <ul>
                                    <li><a href="@Url.Action("Perfil","Company")">Perfil</a></li>
                                    <li><a href="@Url.Action("LogOut","Conta")" class="highlight">Logout</a></li>
                                </ul>
                            </div>

                        </div>

                    </li>


</div>
            </ul>
        </div>




        </div>
        <div class="header-second-bar header-limiter">

            <h2>
            </h2>

            <nav>
                <div data-tooltip="Mais vendidos" style="display: inline-block; font: Helvetica; font-weight: bold">
                    <a href="@Url.Action("MaisVendidos", "Home")"><i class="fa fa-trophy"></i>&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div data-tooltip="Melhor Classificação" style="display: inline-block; ; font: Helvetica; font-weight: bold">
                    <a href="@Url.Action("MaiorClassificacao", "Home")"><i class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div data-tooltip="Novidades" style="display: inline-block; ; font: Helvetica; font-weight: bold">
                    <a href="@Url.Action("Novidades", "Home")"><i class="fa fa-exclamation"></i></a>
                </div>
            </nav>


        </div>




    </header>




    <!-- You need this element to prevent the content of the page from jumping up -->
    <div class="header-fixed-placeholder"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            var userMenu = $('.header-user-dropdown .header-user-menu');

            userMenu.on('touchend', function (e) {

                userMenu.addClass('show');

                e.preventDefault();
                e.stopPropagation();

            });

            // This code makes the user dropdown work on mobile devices

            $(document).on('touchend', function (e) {

                // If the page is touched anywhere outside the user menu, close it
                userMenu.removeClass('show');

            });

        });

    </script>
    <script>

        $(document).ready(function () {

            var showHeaderAt = 150;

            var win = $(window),
                body = $('body');

            // Show the fixed header only on larger screen devices

            if (win.width() > 600) {

                // When we scroll more than 150px down, we set the
                // "fixed" class on the body element.

                win.on('scroll', function (e) {

                    if (win.scrollTop() > showHeaderAt) {
                        body.addClass('fixed');
                    }
                    else {
                        body.removeClass('fixed');
                    }
                });

            }

        });

    </script>
    <script>

        $(document).ready(function () {

            $('.header-search form').on('click', function (e) {

                // If the form (which is turned into the search button) was
                // clicked directly, toggle the visibility of the search box.

                if (e.target == this) {
                    $(this).find('input').toggle();
                }

            });
        });

    </script>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer">
        <div class="container">
            @RenderBody()


            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright  @DateTime.Now.Year - RentItAll</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xl-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Termos de Uso</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Privacy
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Contact form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/agency.min.js"></script>


</body>

</html>
