@model WebApplication1.Models.Utilizador
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<html>

<head>
    @section NotId {
        <li>
            <a href="@Url.Action("AluguerPedidos", "Company")">
                <span class="glyphicon glyphicon-bell "></span>
                Notificações
                @{
                    int n = (int)@ViewData["noti"];
                    if (n > 0)
                    {

                        <span class="badge" style="background-color: #138AB2">@n</span>
                    }
                }
            </a>
        </li>
    }
</head>

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="~/Images/joana.png" style="width:20%;" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2>@Html.DisplayFor(itemModel => Model.Nome)</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Utilizador Empresa</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Dados</b></p>


                        <table class="table">
                            <tr>
                                <td>
                                    <h4>Tipo de informação</h4>
                                </td>
                                <td>
                                    <h4>Informação atual</h4>
                                </td>
                                <td>
                                    <h4>Alterar Dados</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.Email)
                                </td>
                                <td>
                                    Alteração Não Permitida
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    Password
                                </td>
                                <td>
                                    *********
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "Password")

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Conta Bancária
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.ContaBancaria)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "CBanc")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Telemovel
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.Telemovel)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "Telemovel")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Código Postal
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.CodPostal)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "CPostal")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Freguesia
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.CodPostalNavigation.Freguesia)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "Freguesia")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rua
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.Rua)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "Rua")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Número da porta
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.NPorta)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "NPorta")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Distrito
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => Model.CodPostalNavigation.Distrito)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "Distrito")
                                </td>
                            </tr>

                        </table>

                        <p>

                        </p>
                        <p>

                        </p>

                        <p>

                        </p>
                        <p>

                        </p>

                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Cupões:</b></p>
                        <table>
                            <tr>
                                <th>
                                    <p>Código</p>
                                    <div class="w3-light-grey w3-round-xlarge">
                                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                                    </div>
                                </th>
                                <th>
                                    <p>Data de Validade</p>
                                    <div class="w3-light-grey w3-round-xlarge">
                                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                                    </div>
                                </th>
                                <th>
                                    <p>Valor</p>
                                    <div class="w3-light-grey w3-round-xlarge">
                                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                                    </div>
                                </th>
                            </tr>
                            @foreach (var item2 in Model.Voucher)
                            {
                                <tr>
                                    <th>
                                        <p>@Html.DisplayFor(itemModel => item2.Codigo)</p>
                                        <div class="w3-light-grey w3-round-xlarge">
                                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                                        </div>
                                    </th>
                                    <th>
                                        <p>@Html.DisplayFor(itemModel => item2.Data)</p>
                                        <div class="w3-light-grey w3-round-xlarge">
                                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                                        </div>
                                    </th>
                                    <th>
                                        <p>@Html.DisplayFor(itemModel => item2.ValorOferta)</p>
                                        <div class="w3-light-grey w3-round-xlarge">
                                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                                        </div>
                                    </th>
                                </tr>
                            }
                        </table>

                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>
        </div>
    </div>


</body>
</html>
