@model IEnumerable<WebApplication1.Models.Denuncias>

@{
    ViewBag.Title = "Denúncias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    string str = (string)@ViewData["User_Name"];
}

<head>
    <style>
        html * {
            font-family: Montserrat;
        }
    </style>
</head>

<br />
<center>
    <div style="color:#555555; font-size:16px; font-weight:bold;">
        <b>Denúncias</b>
    </div>
</center>
<br />

<table class="table" style="margin-left: -120px;">
    <tr>
        <th style="text-align:center; vertical-align:middle; white-space:nowrap;">
            Indice de Denúncia
        </th>
        <th style="text-align:center; vertical-align:middle">
            Descrição
        </th>
        <th style="text-align: center; vertical-align: middle">
            Autor da Denuncia
        </th>
        <th style="text-align: center; vertical-align: middle; white-space:nowrap">
            Artigo denunciado
        </th>
        <th style="text-align: center; vertical-align: middle">
            Dono do Artigo
        </th>
        <th style="text-align: center; vertical-align: middle">
            Num. de Denúncias do Dono
        </th>
        <th style="text-align: center; vertical-align: middle;">
        </th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td style="text-align:center; vertical-align:middle; font-weight:bold">
                @Html.DisplayFor(modelItem => item.IdDenuncia)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.IdAutor)
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.IdArtigoNavigation.Nome)
            </td>
            <td style="text-align:center; vertical-align:middle">
                <p>@Html.DisplayFor(modelItem => item.IdArtigoNavigation.IdDonoNavigation.Nome) </p>

                <p>@Html.DisplayFor(modelItem => item.IdArtigoNavigation.IdDonoNavigation.Email)</p>
            </td>
            <td style="text-align:center; vertical-align:middle">
                @Html.DisplayFor(modelItem => item.IdArtigoNavigation.IdDonoNavigation.NDenuncias)
            </td>
            <td style="text-align:center; vertical-align:middle; white-space:nowrap;">
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="background-color:#CCDBE2; border-color:#11709E; display:inline-block; width: 100px; font-size:13px; margin-top:4.5px;">
                    @Html.ActionLink("Aceitar", "AceitaDenuncia")
                </button>
                &nbsp;
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 " style="background-color:#CCDBE2; border-color:#11709E; display:inline-block; width: 100px; font-size:13px">
                    @Html.ActionLink("Rejeitar", "RejeitaDenuncia")
                </button>
            </td>
        </tr>
    }

</table>
