@model IEnumerable<WebApplication1.Models.Utilizador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    string str = (string)@ViewData["User_Name"];
}


<center>
    <p>
        <b>Utilizadores na Aplicação</b>
    </p>
    <p>    </p>
    <p>    </p>
</center>

<table class="table">
    <tr>
        <th style="text-align:center; vertical-align:middle">
            Nome
        </th>
        <th style="text-align:center; vertical-align:middle">
            Email
        </th>
        <th style="text-align: center; vertical-align: middle">
            Número de Denuncias
        </th>
        <!--
    <th style="text-align: center; vertical-align: middle">
        Numero de Artigos
    </th>
    <th style="text-align: center; vertical-align: middle">
        Numero de Vendas
    </th>
    <th style="text-align: center; vertical-align: middle">
        Numero de Alugueres
    </th>
        -->
        <th style="text-align: center; vertical-align: middle">
            Efetuar Açao
        </th>
    </tr>
    @foreach (var item in Model)
    {

<tr>
    <td style="text-align:center; vertical-align:middle; font-weight:bold">
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td style="text-align:center; vertical-align:middle">
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td style="text-align:center; vertical-align:middle">
        @Html.DisplayFor(modelItem => item.NDenuncias)
    </td>
    <!--
    <td style="text-align:center; vertical-align:middle">
         Html.DisplayFor(modelItem => item.Artigo.Length())   sao 3 da manha esta merda n dá
    </td>
    <td style="text-align:center; vertical-align:middle">
         Html.DisplayFor(modelItem => item.Venda.Length()) 
    </td>
    <td style="text-align:center; vertical-align:middle">
        Html.DisplayFor(modelItem => item.Aluguer.Length())  
    </td>
        -->
    <td style="text-align:center; vertical-align:middle">
        <div class="btn-login">
            <!--nome para as views depois altera se quiseres-->
            <!--button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" href="@Html.ActionLink("Enviar Aviso", "Warning",new { email = item.Email })"></!--button>-->
            <form asp-action="Warning" asp-controllers="Admin" method="get" enctype="multipart/form-data">
                <div class="form-group">
                    <div>
                        <label for="Email"></label>
                        <input type="hidden" name="email" value="@item.Email" />
                    </div>
                    <div>
                        <button type="submit" id="buttonEmail" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Warning</button>
                    </div>


            </form>
        
            <div>
                <button type="submit" id="buttonEmail" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Bloquear</button>
            </div>

          




</td>
</tr>
    }

</table>
